.login-form {
    background:linear-gradient(120deg,#099a6a,#8e44ad);
    /* background-image: url("https://images.pexels.com/photos/1563356/pexels-photo-1563356.jpeg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    overflow: hidden;
  }
  .pass{
      margin: -5px 0 20px 5px;
      color: #666666;
      cursor: pointer;
  }
  .pass:hover{
text-decoration: underline;
  }
  input[type="submit"]
  {
      width: 100%;
      height: 50px;
      border-radius: 20px;
      border:1px solid;
      background: #2691d9;
      color:#e9f4fb;
      font-weight: 700;
      font-size: 18px;
      cursor: pointer;
      outline: none;
  }
  input[type="submit"]:hover
  {
      border-color: #2691d9;
      transition: .5s;
  }
  .singin
  {
      margin:30px 0;
      text-align: center;
      font-size: 16px;
      color: #666666;
  }
  .singin a
  {
      color: #2691d9;
      text-decoration: none;
  }
  .singin a:hover
  {
      text-decoration:underline;
  }